.container > ul {
  display: flex;
  margin-bottom: 20px;
}

.container > ul > li:first-child {
  margin-left: 0;
}

.container > ul > li:last-child {
  margin-right: 0;
}

.container > ul > li {
  margin: 0 20px;
}

.container > ul > li > a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: red!important;
}
