.container {
  padding: 10px;
  border: 1px solid gray;
  width: 50%;
  height: 720px;
}

.hideSideBorder {
  border-left: none;
}

.container td {
  text-align: center;
  width: 110px;
}

tr {
  position: relative;
}

.chart {
  position: absolute;
  opacity: .5;
  height: 100%;
}

.chartBids {
  background-color: red;
  left: 0;
}


.chartAsks {
  background-color: green;
  right: 0;
}
